header {
  text-align: center;
  margin: 0;
  display: block;
  background-color: #ffe524;
}

h1, h2 {
  font-family: 'Sigmar One', cursive;
}

p, .info, .info2 {
  font-family: 'Georgia', serif;
  font-size: 0.8rem;
}

blockquote span {
  text-align: center;
  display: block;
  font-size: 2.5rem;
}

cite {
  text-align: center;
  color: #b2a215;
}

nav {
  padding: .5em;
}

header h1 {
  margin: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

main {
  margin: .5em;
}

h1 {
  color: #b32f52;
  text-align: center;
}

ol {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

nav li {
  background-color: #b2a215;
  padding: 0.5em;
  border-radius: 5px;
  display: inline;
}

nav li:hover {
  background-color: #cc3865;
  padding: 0.5em;
  border-radius: 5px;
  display: inline;
}

blockquote {
  color: #b2a215;
}

h2 {
  color: #b32f52;
  border-top: 2px solid black;
  padding: 1em;
}


figure {
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 0.4em;
  border: 2px solid #c5b844;
  background-color: #fffce0;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.info {
  font-weight: bold;
}

.info2 {
  margin: 0;
  text-align: left;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 1.5em;
  margin: 0;
  display: block;
  background-color: #ffe524;
}

i {
  font-size: 0.8rem;
}
